.Add_course {
    /* border: 1px solid red; */
    padding: 2rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addCourse_detail {

    gap: 0.6rem;
    align-items: center;
}

.detail_icon {
    border: 1px solid black;
    padding: 0.2rem 0.5rem;
    border-radius: 40px;
    background-color: #2b2c6c;
    color: white;
}

.addcourse_form input {
    width: 70%;
    height: 2.8rem;
    border: none;
}

.textarea {
    width: 90% !important;
    height: 250px;
}

.course_btn {
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
}

.course_btn:hover {
    background-color: #2b2c6c;
    transform: scale(1.08);
    color: white;
    transition: all linear 0.3s;

}

.addcourse_form input:focus {
    outline: none;
}

@media screen and (max-width: 368px) {
    .Add_course {
            padding: 2rem 0.5rem;
        }
}
@media screen and (min-width: 369px) and (max-width:768px) {
    .Add_course {
            padding: 2rem 2rem;
        }
}