.sidebarinfo {
    display: flex;
}

.dashboard {
    width: 100%;
    padding: 0.5rem;
    /* border: 1px solid black; */
}

.sidebar {
    background-color: #2b2c6c;
    /* background: #000; */
    color: #fff;
    height: auto;
    width: 200px;
    /* border: 1px solid yellow; */
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    /* border: 1px solid red; */
}

.link:hover {
    border-bottom: 1px solid #fbc231;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.active {
    border-bottom: 1px solid #fbc231;
    color: #fbc231;
}

.icon,
.link_text {
    font-size: 20px;
}

.extra {
    color: rgb(156, 155, 155);
    border-bottom: 1px solid white;
    margin-left: 0px !important;
    padding-left: 0px !important;
}