.grey-heading-ui{
    color: #757575;
    margin-block: 1.5rem;
}
.std-heading{
    color: black;
    font-weight: bold;
    
}
.contant-menu{
    border-radius: 15px !important;
    background-image: linear-gradient(90deg, #2b2c6c 57%, #fbc231 100%);
    width: 90%;
    justify-content: space-around !important;
    padding: 10px 40px 10px 40px !important;
}
.social-icon a{
    color: white !important;
    font-size: 50px;
}
@media screen and (max-width: 575px) {
    .social-icon a{
        color: white !important;
        font-size: 30px;
    }
  }
  @media screen and (max-width: 400px) {
    .social-icon a{
        color: white !important;
        font-size: 25px;
    }
  }
  @media screen and (max-width: 360px) {
    .social-icon a{
        color: white !important;
        font-size: 21px;
    }
  }