.bg-backgroud{
    background-color: transparent !important;
    z-index: 1;
}
.brand_main{
    /* border: 1px solid red; */
    max-width: 180px !important;
    
}
.brand{
    /* border: 1px solid black; */
    width: 100%;
}

.nav-link{
font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 24px !important;
color: #000000 !important;
}
.nav-link.active{
    
font-style: normal !important;
font-weight: 700 !important;
font-size: 20px !important;
line-height: 24px !important;
color: #000000 !important;
}
.btn {
    padding: 0.5rem 1.5rem !important;
    background-color: transparent !important;
    color: black !important;
    border: 1px solid white !important;
    font-weight: 500 !important;
    border: 1px solid black !important;

}
.btn:hover{
    background-color: #2b2c6c !important;
    cursor: pointer !important;
    transform: scale(1.09) !important;
    color: white !important;
    font-weight: 700 !important;
    transition: all linear 0.2s;
}

.offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: 70% !important;
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
}
.offcanvas-body{
    line-height: 2.5rem !important;
}
.offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: 70% !important;
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
}
.nav_btn{
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
